/* ================
        Fonts
==================*/

@font-face {
  font-family: "Gotham bold";
  src: url("/fonts/Gotham_Rounded_Bold.woff") format("woff");
}

@font-face {
  font-family: "Gotham medium";
  src: url("/fonts/Gotham\ Rounded\ Medium.woff") format("woff");
}

@font-face {
  font-family: "Gotham book";
  src: url("/fonts/Gotham\ Rounded\ Book.woff") format("woff");
}

/* ================
        All
==================*/

body {
  font-family: "Gotham book", serif;
  color: #373737;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/* ================
        Header
==================*/

.header {
  height: 745px;
  background: url("/image/header/bg.jpg") #261c27 no-repeat;
  background-size: cover;
  line-height: 1;
}

.header__inner {
  display: flex;
  flex-direction: column;
  width: 760px;
  margin: 0 auto;
}

.nav {
  padding-top: 40px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  font-family: "Gotham bold";
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
}

.nav__link:hover {
  color: #16a085;
  transition: 0.2s;
}

.header__text {
  color: #fff;
  text-align: center;
}

.header__title {
  font-family: "Gotham bold";
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 245px;
}

.header__subtitle {
  font-family: "Gotham medium";
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 10px;
}

.btn-1 {
  margin: 0 auto;
  margin-top: 25px;
  font-family: "Gotham bold";
  font-size: 12px;
  text-transform: uppercase;
  width: 165px;
  height: 50px;
  color: #fff;
  border-radius: 3px;
  background-color: #16a085;
}

.header__icons {
  margin: 0 auto;
  margin-top: 220px;
}

.header__icon {
  padding: 0 5px;
}

/* ================
        Photo
==================*/

.photo {
  height: 490px;
  background: url("/image/Hand.jpg") no-repeat;
  background-size: cover;
}

.photo__inner {
  width: 450px;
  padding-top: 115px;
}

.photo__title {
  font-family: "Gotham bold";
  font-size: 18px;
  text-transform: uppercase;
  color: #16a085;
  letter-spacing: 3px;
}

.photo__text {
  margin-top: 40px;
  font-family: "Gotham book";
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 2px;
}

.btn-2 {
  margin: 0 auto;
  margin-top: 40px;
  font-family: "Gotham bold";
  font-size: 12px;
  text-transform: uppercase;
  width: 165px;
  height: 50px;
  color: #fff;
  border-radius: 3px;
  background-color: #16a085;
}

/* ================
        Design
==================*/

.design {
  height: 560px;
  background: url("/image/phone.jpg") no-repeat;
  background-size: cover;
}

.design__inner {
  width: 450px;
  padding-top: 145px;
  margin-left: 640px;
}

.design__title {
  font-family: "Gotham bold";
  font-size: 18px;
  text-transform: uppercase;
  color: #16a085;
  letter-spacing: 3px;
}

.design__text {
  margin-top: 40px;
  font-family: "Gotham book";
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 2px;
}

.btn-3 {
  margin: 0 auto;
  margin-top: 40px;
  font-family: "Gotham bold";
  font-size: 12px;
  text-transform: uppercase;
  width: 165px;
  height: 50px;
  color: #fff;
  border-radius: 3px;
  background-color: #16a085;
}

/* ================
      Community
==================*/

.community {
  height: 480px;
  background-color: #f5f6f7;
}

.community__inner {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
  margin-top: 165px;
}

.community__title {
  margin-top: 30px;
  text-transform: uppercase;
  color: #373737;
  font-family: "Gotham bold";
  font-size: 18px;
  letter-spacing: 1px;
}

.community__text {
  margin-top: 25px;
  font-size: 11px;
  font-family: "Gotham medium";
  color: #373737;
  letter-spacing: 2px;
  text-align: center;
}

.community__slider {
  float: right;
  width: 770px;
  margin-top: 95px;
}

.community__arrows {
  text-align: right;
}

.arrows__link {
  margin-right: 10px;
}

.arrows__link:last-child {
  margin-right: 0px;
}

.community__galery {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* ================
      Subscribe
==================*/

.subscribe {
  height: 790px;
  background: url("/image/bg.jpg") no-repeat;
  background-size: cover;
}

.subscribe__title {
  padding-top: 350px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: "Gotham bold";
  font-size: 24px;
  letter-spacing: 3px;
}

.subscribe__reg {
  width: 345px;
  display: flex;
  margin: 25px auto 0;
}

input {
  width: 280px;
  height: 60px;
  padding-left: 20px;
  border: none;
  border-radius: 3px 0 0 3px;
  outline: none;
}

::placeholder {
  text-transform: uppercase;
  color: #373737;
  font-family: "Gotham medium";
  font-size: 16px;
  letter-spacing: 2px;
}

.btn-4 {
  width: 60px;
  height: 60px;
  background-color: #16a085;
  border-radius: 0 3px 3px 0;
}

/* ================
      Download
==================*/

.download {
  height: 395px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f5f6f7;
}

.download__title {
  margin-top: 90px;
  text-transform: uppercase;
  color: #373737;
  font-family: "Gotham bold";
  font-size: 20px;
  letter-spacing: 1px;
}

.download__text {
  font-family: "Gotham medium";
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 865px;
  margin: 0 auto;
  margin-top: 10px;
}

.download__buttons {
  display: flex;
  justify-content: space-between;
  width: 620px;
  margin: 0 auto;
  margin-top: 45px;
}

.download__apple {
  display: flex;
}

.btn-text {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  background-color: #1abc9c;
  font-family: "Gotham bold";
  width: 240px;
  height: 55px;
  border-radius: 3px 0 0 3px;
}

.btn-apple {
  width: 55px;
  background-color: #16a085;
  border-radius: 0 3px 3px 0;
}

.download__play {
  display: flex;
}

.btn-play {
  width: 55px;
  background-color: #16a085;
  border-radius: 0 3px 3px 0;
}

/* ================
      Footer
==================*/

.footer {
  height: 130px;
}

.footer__inner {
  float: left;
  margin-top: 45px;
}

.footer__image {
  float: right;
  margin-top: 40px;
}

.footer__link {
  text-decoration: none;
  color: #373737;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Gotham bold";
  padding-right: 5px;
  margin-right: 5px;
  border-right: solid 2px #16a085;
  letter-spacing: 2px;
}

.footer__link:last-child {
  padding: 0;
  margin: 0;
  border: none;
}

.footer__copyright {
  color: #373737;
  font-size: 14px;
  font-family: "Gotham bold";
  letter-spacing: 2px;
  margin-top: 20px;
}
